#game {
  background-color: #F2D8D8;
  padding: 10rem 0;
}
#game div {
  border: 1px solid black;
  width: 10%;
  height: 300px;
  margin: 10px;
  display: inline-block;
  
}

h1.flex-box {
  display: flex;
  justify-content: space-between;
}

body {
  background-color: #5C8984;
}
#start {
  text-align: center;
  margin: auto;
  color: red;
  font-size: 10rem;
}
.green {
  background-color: green;
}

.red {
  background-color: red;
}

.purple {
  background-color: purple;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}